-i https://pypi.org/simple
certifi==2019.11.28
chardet==3.0.4
dill==0.3.1.1
idna==2.8
multiprocess==0.70.7
pathos==0.2.5
pox==0.2.5
ppft==1.6.4.9
python-dateutil==2.8.1
requests==2.22.0
six==1.14.0
urllib3==1.25.7
