altgraph==0.16.1
backports.shutil-get-terminal-size==1.0.0
certifi==2018.11.29
chardet==3.0.4
decorator==4.3.2
dill==0.2.9
dis3==0.1.2
enum34==1.1.6
future==0.17.1
idna==2.7
ipython==7.3.0
ipython-genutils==0.2.0
macholib==1.11
multiprocess==0.70.7
pathlib2==2.3.2
pathos==0.2.3
pefile==2018.8.8
pexpect==4.6.0
pickleshare==0.7.5
pox==0.2.4
ppft==1.6.4.9
python-dateutil==2.8.0
requests==2.21.0
